@charset "UTF-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}


/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	10;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

/* Mobile Layout: 480px and below. */



.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 87.36%;
	padding-left: 1.82%;
	padding-right: 1.82%;
}
.main {
	clear: both;
	margin-left: 0;
	width: 100%;
	display: block;
	background:#fff;
}

header {
	background:#693;
	color:#fff;	
	padding-bottom:1em;
}

h1, h2, h3, h4, h5, h6 {	
	font-family: 'NewsGothicFSBook',Arial,sans-serif;
}

header h1{margin-left:.5em;}

h2{color:#999;}

footer {
	clear: both;
	background:#471;
	color:#fff;
}

nav a, nav a:visited {
	font-size:1.12em;
	font-weight:bold;
	color: #CC9;
	margin:0 .6em 0 .3em;
	text-decoration:none;	
}
nav a:hover{color:white;}

/* Nav status indication */
.home nav > .home_lnk,
.about nav > .about_lnk,
.products nav > .products_lnk,
.contact nav > .contact_lnk {color:#def;}

figure{
	float:left;
	padding:.5em;
	border:1px solid #ccc;
	width:50%;
	margin:.5em .5em .5em 0;
	max-width:320px;
}

figure img {
width:100%;	
max-width:300px;
}

figcaption {
	font-style:italic;
	color:#666;
}

aside{
	clear: both;
	margin-top:..1em;
	padding:.5em;
	border:1px solid #333;
	background:#adF	
}


/* Form Specific */

legend {
	font-size:1.5em;
}

label, select, textarea, input {
	display:block;
	margin:1.2em 1em;
}

label,legend {
	font-weight:bold; 
	margin-bottom:0;
}

textarea{
	padding:.5em;
}

form{
width:50%;
margin:1em auto;
background:#eee;
padding:1em;	
}

/*about page specific */

.about blockquote {
	float:right;
	padding:.5em;
	border-top:2px solid #ccc;
	border-bottom:2px solid #ccc;
	width:50%;
	margin:.2em 0 .5em .5em;
	max-width:320px;
	font-size:1.2em;
	font-style:italic;
	color:#888;
}

/*products page specific*/
.products h3{
	color:#693;
}

.products figure{
	width:100%;
	float:none;
}
.products .controls{
	text-align:center;
}

.products .controls button {
	margin-left:2em;
}

.products .controls .price {
	font-weight:bold;
}

.products article{
	float:left;
	max-width:320px;
	padding:1em;
	margin:1em;
	border-bottom:1px solid #ccc;
}

/*Contact page specific*/
.contact form{
	background:#eee url(../i/ocean.jpg) top left;
	background-size:cover;
}
.contact ol{list-style:none;}
.contact legend{
	font-size:1.2em;
	color:#fff;
	padding:2em;
}
.contact input, .contact textarea{
	margin-bottom:1em;
}
.contact label{
	display:block;
	color:#eee;
	text-shadow: 1px 1px 0px #000;
	filter: dropshadow(color=#c6e5e6, offx=1, offy=1);
}

#confirm {
	margin:100px auto;
	background:#fff;
	padding:20px;
}

.errors{list-style:none;}
.errors ul {list-style:none;}
.errors li {color:red;display:block;}




/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
}

}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 88.2%;
	max-width: 1232px;
	padding-left: 0.9%;
	padding-right: 0.9%;
	margin: auto;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
}