@charset "UTF-8";
/* Simple fluid media
   Note: Fluid media requires that you remove the media's height and width attributes from the HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 does not support max-width so default to width 100% */
.ie6 img {
	width:100%;
}

/*
	Dreamweaver Fluid Grid Properties
	----------------------------------
	dw-num-cols-mobile:		5;
	dw-num-cols-tablet:		8;
	dw-num-cols-desktop:	10;
	dw-gutter-percentage:	25;
	
	Inspiration from "Responsive Web Design" by Ethan Marcotte 
	http://www.alistapart.com/articles/responsive-web-design
	
	and Golden Grid System by Joni Korpi
	http://goldengridsystem.com/
*/

/* Mobile Layout: 480px and below. */

.gridContainer {
	margin-left: auto;
	margin-right: auto;
	width: 87.36%;
	padding-left: 1.82%;
	padding-right: 1.82%;
}
.main {
	clear: both;
	margin-left: 0;
	width: 100%;
	display: block;
	background:#fff;
}

header {
	background:#693;
	color:#fff;	
}

footer {
	clear: both;
	background:#471;
	color:#fff;
}

nav a {
	font-size:1.12em;
	color: #CC9;
	margin-right:1.2em;	
}

figure{
	float:left;
	padding:.5em;
	border:1px solid #ccc;
	width:50%;
	margin:.5em;
	max-width:320px;
}

figure img {
width:100%;	
max-width:300px;
}

figcaption {
	font-style:italic;
	color:#666;
}

aside{
	clear: both;
	margin-top:..1em;
	padding:.5em;
	border:1px solid #333;
	background:#adF	
}


.home nav > .home_lnk,
.about nav > .about_lnk,
.products nav > .products_lnk,
.contact nav > .contact_lnk {color:red;}


/* Tablet Layout: 481px to 768px. Inherits styles from: Mobile Layout. */

@media only screen and (min-width: 481px) {
.gridContainer {
	width: 90.675%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
}

/* Desktop Layout: 769px to a max of 1232px.  Inherits styles from: Mobile Layout and Tablet Layout. */

@media only screen and (min-width: 769px) {
.gridContainer {
	width: 88.2%;
	max-width: 1232px;
	padding-left: 0.9%;
	padding-right: 0.9%;
	margin: auto;
}
#LayoutDiv1 {
	clear: both;
	float: left;
	margin-left: 0;
	width: 100%;
	display: block;
}
}